/*
*
*word app sign-in css 
*
*/

.login_btn{
		margin-bottom: 5px;
		font-size: 14px;
	}
@media only screen and (max-width: 768px) 
{
	/*#change_pass{

		font-size: 13px !important;
		margin-top: 10px;
		padding: 10px 0px;
	}

	#forgot_password{

		font-size: 13px !important;
		margin-top: 10px;
		padding: 10px 6px;
	}*/

	.login_btn{
		margin-bottom: 5px;
		width: 210px;
		font-size: 16px !important;
	}

	.btn{
		font-size: 16px !important;
	}
	

}

